

.contenedor-nav {
    padding: 14px;
    background-color: #d7e00d;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.logo {
    width: 140px;
}

ul {
    width: max-content;
    display: flex;
    align-items: center;
}

li{
    display: inline-block;
    margin: 0px 4px;
}

.b-nav, .usuario {
    padding: 3px 5px;
    text-align: center;
    font-weight: bolder;
    font-size: 9pt;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    color: #d7e00d;
    background-color: #217f21;
}

.usuario {
    border-radius: 100%;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    font-weight: bolder;
    color: #217f21;
    background-color: #f9ff7d;
}

.b-nav:hover {
    color: #f9ff8f;
    transform: translateY(-1.5px) translateX(1.5px);
}

.usuario:hover {
    color: #f9ff8f;
    background-color: #217f21;
    transform: none;
}