* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

h1{
    font-size: 30pt;                  /* ACA HAY UN FONT SIZE*/
    margin-left: 50px;
    margin-top: 50px;
}

table {
    margin: 60px auto 0px;
    border: black solid;
    background-image: url(fondo.png);
}


.dato {
    padding: 10px 20px;
    border: black solid;

}

.nom-caterg {
    font-size: 18pt;                 /* ACA HAY UN FONT SIZE*/
    text-align: center;
    padding: 10px 29px;
}

#editar {
    color: blanchedalmond;
    background-color: black;
}

#editar:hover {
    color: black;
    background-color: blanchedalmond;
}

#edit-valor {
    display: block;
}