* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

main section{
    padding: 50px 12% 0 12%;
    display: flex;
    flex-flow: column;
}

.titulo{
    margin-bottom: 25px;
    margin-right: 22%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    color: #217f21;

}

table {
    table-layout: fixed;
    border-collapse: collapse;
    margin-bottom: 25px;
}

.nom-caterg {
    text-align: left;
    color: #f9ff7d;
    background-color: rgb(54, 54, 54);
    padding: 10px 20px;
}

.dato {
    padding: 10px 20px;
}

tr {
    background-color: #f9ff7d;
    border-bottom: #217f21 solid 1px;
}

/* td:nth-child(2) {
    background-color: blue;
} */

.icono {
    text-align: center;

}

#borde {
    border-left: #217f21 solid 1px;
}

#editar, #borrar {
    color: #217f21;
    text-decoration: none;

}

.fi-rr-edit:hover, .fi-rr-user-remove:hover {
    color: black;
    transform: translateY(-1.5px) translateX(1.5px);
}

/* #edit-valor {
    display: block;
} */