* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

/* body{
    background-color: rgb(98, 47, 69);
} */

/* h2{
    color: #f4c1c2 ;
    margin: 50px auto 0;
    width: max-content;
} */

.contenedor{
    /* margin: 70px auto 100px; */
    padding: 30px;
    width: auto;
    border-radius: 10px;
    background-color: #217f21;
    /*background-image: url(fondo-pastel.jpg);*/
    background-size: 182%;
}

.caja-1, .caja-2 {
    padding: 10px;
    background-color: #d7e00d;
    border-radius: 10px;
    display: flex;
    flex-flow: row ;
    justify-content: space-between;
}

.caja-1 {
    margin-bottom: 20px;
}

label {
    color: rgb(98, 47, 69);
    font-size: larger;
    font-weight: bold;
    margin-bottom: 5px;
}

.caja-input {
    display: flex;
    flex-flow: column;
}

.caja-submit{
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
}

input {
    width: 400px;
    height: 60px;
    padding: 7px;
    border-radius: 7px;
    border-style: none;
}

/* input:invalid {
    border: 2px dashed red;
}

input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
} */

.submit {
    width: 150px;
    height: 40px;
    background-color: rgb(98, 47, 69);
    color: blanchedalmond;
}

.submit:hover {
    transform: translateY(1.5px) translateX(1.5px);

}

