*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

html {
    scroll-behavior: smooth;
}

main{
    padding-top: 50px;
    padding-left: 12%;
    padding-right: 12%;
    display: flex;
    flex-flow: column;
}

h2{
    margin-top: 40px;
}

.botones {
    margin: 25px 0;
}

.boton {
    border: none;
    padding: 10px 25px;
    margin-right: 20px;
    font-size: 14pt;
}

#b-clases, #b-estud {
    display: inline;
    color: #217f21;
    border: #217f21 solid 1px; 
    font-weight: bolder;
}

#b-clases {
    background-color: white;
    border-width: 1px;
}

#b-estud {
    background-color: #d7e00d; 
    border-width: 1.5px;

}

#b-clases:hover, #b-estud:hover {
    transform: translateY(-1.5px);
}

