* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}


.contenedor-nav {
    padding: 14px;
    background-color: #d7e00d;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.logo {
    width: 140px;
}

nav{
    width: max-content;
    display: flex;
    align-items: center;
}

li{
    display: inline-block;
    margin: 0px 4px;
}

.b-nav{
    padding: 3px 5px;
    text-align: center;
    font-weight: bolder;
    font-size: 9pt;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    color: #d7e00d;
    background-color: #217f21;
}

.b-nav:hover {
    color: #f9ff8f;
    transform: translateY(-1.5px) translateX(1.5px);
}

.label label{
    display: block;
    padding: 10px;
    border-radius: 100%;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    font-weight: bolder;
    color: #217f21;
    background-color: #f9ff7d;
}

.label label:hover {
    color: #f9ff8f;
    background-color: #217f21;
    transform: none;
    cursor: pointer;
}

.menu-usu{
    display: none;
    /* margin-right: -8%; */
    position: absolute;
    top: 58px;
    right: 5px;
    border-radius: 5px;
    background-color: #217f21;
}

.menu-usu ul {
    display: flex;
    flex-flow: column;
}

.b-menu {
    padding: 7px;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
}

#b-top {
    border-bottom: 1px solid cadetblue;
}

.b-menu:hover {
    color: crimson;
    background-color: rgba(255, 255, 255, 0.198);
}

.menu-usu a {
    color: #f9ff7d;
    text-decoration: none;
}

#btn-menu {
    display: none;
} 

.x {
    display: none;
}

/* #btn-menu:not(:checked) ~ .menu-usu {
    display: none;
} */

#btn-menu:checked ~ .menu-usu {
    display: block;
    margin-right: 8px;
}
