* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

body{
    background-color: #217f21;
}

.login{
    margin: 100px auto;
    width: 300px;
    border-radius: 10px;
    background-color: #d7e00d;
    display: flex;
    align-items: center;
    flex-flow: column;

    box-shadow: 10px 10px 25px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 25px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 25px -10px rgba(0,0,0,0.75);

}

.title {
    margin-top: 30px;
    color: #217f21;
}


.animate__animated.animate__fadeIn{
    --animate-duration: 2s;
}


.title.animate__animated.animate__fadeIn{
    --animate-delay: 2s;
}


.usuario {
    margin-top: 30px;
}

.caja-input {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

#caja-input {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#caja-input label{
    margin-bottom: 5px;
}

.caja-submit{
    margin: 15px 0 30px;
}

#submit {
    margin-top: 35px;
}

input {
    width: 235px;
    height: 40px;
    padding: 7px;
    border-radius: 7px;
    border-style: none;
}

.anclas {
    margin-top: 40px;
    font-size: small;
    display: flex;
    flex-flow: column;
}

.anclas a {
    margin-bottom: 5px;
}

.submit{
    color: #217f21;
    background-color: #f9ff8f;
}




.submit:hover {
    background-color: #217f21;
    color: blanchedalmond;
}

