.proximas-clases {
    display: flex;
    align-items: baseline;
}

/* ---------cards proximas clases------------ */

.cards-clase {
    margin-right: 160px;
    width: 400px;
    height: max-content;

}



.cards-clase a{
    text-decoration: none;
    color: #217f21;
}

.card-n{
    margin: 0px 0px 30px;
    padding: 10px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;

    background-color: #f9ff8f;
    border-radius: 10px;
    box-shadow: 1px 8px 14px -7px rgba(0,0,0,0.38);
    -webkit-box-shadow: 1px 8px 14px -7px rgba(0,0,0,0.38);
    -moz-box-shadow: 1px 8px 14px -7px rgba(0,0,0,0.38);
}

.card-n:hover{
    transform: translateY(-1.5px) translateX(1.5px);
}

.cards-cont-izq {
    display: flex;
    flex-flow: inherit;
}


.card-inicial{
    background-color: #eaf227;
    border-radius: 6px;
    padding: 1px 12px;;
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
}

.card-central{
    margin-left: 10px;
    display: flex;
    flex-flow: column;
}

.card-nombreEstud {
    /* font-size: larger; */
    font-weight: bold;
}

.card-info{
    /* font-size: small; */
    font-size: 85%;
}

.card-fecha {
    margin-left: 57px;
    font-weight: bolder;
    font-size: x-large;
    margin-right: 0px;
}


/* --------------contenedor deslizante------------- */

.cont-desliz{
    display: flex;
    flex-flow: row;
}

.desliz{
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    background-color: #f9ff8f;
    color: #217f21;

    box-shadow: 1px 8px 14px -7px rgba(0,0,0,0.38);
    -webkit-box-shadow: 1px 8px 14px -7px rgba(0,0,0,0.38);
    -moz-box-shadow: 1px 8px 14px -7px rgba(0,0,0,0.38);
}

.cruz {
    margin-top: 20px;

}

.cruz a:hover {
    background-color: lightslategrey;
    color: #eaf227;
    /* color: rgb(179, 243, 179); */

}

.cruz a {
    text-decoration: none;
    color: #217f21;
    font-size: larger;
    font-weight: bolder;
    text-align: right;
    background-color: #f2a847;
    border-radius: 0px 10px 10px 0px;
    padding: 5px;
}

.desliz-titulo {
    font-size: x-large;
    font-weight: bolder;
}

.desliz-notas{
    margin-top: 20px;
}
.desliz-coment {
    padding: 8px;
    min-height: 90px;
    height: max-content;
    border-radius: 10px;
    /* background-color: #217f21;
    color: rgb(179, 243, 179); */

    background-color: #eaf227;
}

.ultimo-renglon{
    margin-top: 20px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.pago{
    display: flex;
    align-items: center;
    flex-flow: row;
}

.pago div:nth-child(1){
    margin-right: 20px;
}

.pagoBD span:nth-child(1){
    margin-right: 11px;
}

.pagoBD span:nth-child(2) {
    padding: 1px 5px;
    width: 31px;
    text-align: center;
    height: 30px;
    border-radius: 10px;
    background-color: #eaf227;
    display: inline-block;
}

.desliz-btns{
    display: flex;
    justify-content: flex-end; 
}

#editar-btn {
    margin-right: 30px;
}

.fi-rr-edit:hover {
    color: rgb(53, 255, 36);
}


/* -----------------Contenedor inputs edit------------------ */

.cont-editar{
    display: flex;
    flex-flow: row;
}

.cont-editar input {
    border-style: none;
    border-color: black;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 6px;
        
}

.edit{
    padding: 20px;
    padding-bottom: 16px;
    width: 400px;
    border-radius: 10px;
    background-color: #eaf227;
    color: #217f21;

    box-shadow: 1px 8px 14px -7px rgba(0,0,0,0.38);
    -webkit-box-shadow: 1px 8px 14px -7px rgba(0,0,0,0.38);
    -moz-box-shadow: 1px 8px 14px -7px rgba(0,0,0,0.38);
}

.editar-nom input{
    font-size: large;
    height: max-content;
    width: -moz-available;
}

.editar-notas{
    margin-top: 7px;
}

.editar-tema input {
    margin: 0;
}

.editar-coment {
    padding: 8px;
    width: -webkit-fill-available;
    width: -moz-available;
    min-height: 90px;
    height: max-content;
    border-radius: 10px;
}

.editar-pagoBD span:nth-child(1){
    margin-right: 11px;
}

.editar-pagoBD input {
    margin-bottom: 0;
    padding: 1px 5px;
    width: 31px;
    text-align: center;
    height: 30px;
    border-radius: 10px;
    background-color: white;
    display: inline-block;
}

.precio{
    margin-right: 20px;
}

.precio input {
    width: 65px;
}

.caja-submit {
    display: flex;
    justify-content: flex-end;
}


.caja-submit input{
    margin-bottom: 0;
    padding: 6px;
    width: 100px;
    background-color: #2b8526;
    color: #f9ff8f;
    font-weight: bold;
}

.caja-submit input:hover{
    background-color: #f9ff8f;
    color: #2b8526;
    transform: translateY(-1.5px) translateX(1.5px);

}