* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

html {
    scroll-behavior: smooth;
}

main{
    padding-top: 50px;
    padding-left: 12%;
    padding-right: 12%;
    display: flex;
    flex-flow: column;
    margin-bottom: 200px;
}

h2{
    font-family: 'Nunito', sans-serif;
    font-size: xx-large;

    color: #1c00a2;
    /* color: #4b29ee; */
}



.contenedor{
    /* margin: 70px auto 100px; */
    padding: 30px;
    width: auto;
    border-radius: 10px;
    /* background-color: #217f21; */
}

.select {
    margin-bottom: 20px;
    padding: 5px;
    background-color: #eaf227;
    border-style: solid;
    border-color: #217f21;
    border-radius: 5px;
    font-size: large;

}

.caja-1, .caja-2, .caja-3 {
    display: flex;
    flex-flow: row ;
    justify-content: space-between;
}

.caja-1edit {
    display: flex;
    flex-flow: column;
    justify-content: space-between;

}

.caja-1, .caja-1edit, .caja-2 {
    margin-bottom: 20px;
}

.nomsedit {
    display: flex;
    margin-right: 50%;
    margin-bottom: 20px;
}

.nomsedit > div:nth-child(1) {
    margin-right: 10px;
}

.dos1, .dos2, .dos3 {
    margin-right: 15px;
}

.caja-3{
    width: 100%;
}

.caja-3 .grupo{
    width: 100%;
    
}

.etiqueta {
    color: #217f21;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 5px;
}

.grupo {
    display: flex;
    flex-flow: column;
    width: 47%;
    padding: 10px;
    background-color: #eaf227;
    border-radius: 10px;
}

.grupo-input {
    height: 60px;
    /* border-radius: 7px;
    border-style: none; */
}

input {
    width: 100%;
    height: 100%;
    padding: 7px;
    border-radius: 7px;
    border-style: none;
}

.validacion-estado {
    font-size: large;
    position: relative;
    left: 93%;
    bottom: 42px;
    z-index: 100;
    opacity: 0;

}

.input-error{
    display: none;
    font-size: small;
    margin-top: 5px ;
}

.input-error-activo{
    display: block;
}

.msjError{
    display: none;
    margin-top: 40px;
    padding: 20px;
    width: auto;
    color: white;
    background-color: #e40834c9;
    border-radius: 10px;
}

.msjError-activo{
    display: block;
}

.msjError i {
    margin-right: 20px;
}

.caja-submit{
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
}

.coment{
    width: 100%;
}

.coment input{
    height: 100px;
}

.submit {
    padding: 7px;
    border-radius: 7px;
    border-style: none;
    width: 150px;
    height: 40px;
    font-weight: bold;
    background-color:  #217f21;
    color: blanchedalmond;
}

.submit:hover {
    transform: translateY(-1.8px);

}

/* ----Estilos validacion------ */

.grupo-correcto .validacion-estado{
    color: #1ed12d;
    opacity: 1;
}

.grupo-incorrecto .etiqueta{
    color: #fd1010;
    opacity: 1;
}

.grupo-incorrecto .validacion-estado{
    color: #fd1010;
    opacity: 1;
}

.grupo-incorrecto .input {
    border: 3px solid #fd1010;
}

/* solo para editarClase.php */

.caja-edit-usu{
    display: flex;
    flex-flow: column;
}

.grupo-usu {
    margin-bottom: 20px;
    width: 30%;
}



/* esto es de un validar de formulario mas facil, se puede ver abajo de todo de validate.js */

/* #warnings {
    width: 200px;
    text-align: center;
    margin: auto;
    color: rgb(0, 255, 21);
    padding-top: 20px;
} */