*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

html {
    scroll-behavior: smooth;
}

main{
    padding-top: 50px;
    padding-left: 6%;
    padding-right: 6%;
    display: flex;
    flex-flow: column;
    /* margin-bottom: 200px; */
    min-height: 89vh;
}

h1{
    font-family: 'Nunito', sans-serif;
    font-size: xxx-large;
    margin-bottom: 20px;
    color: #1c00a2;
    /* color: #4b29ee; */

}

h2{
    font-family: 'Nunito', sans-serif;

    margin-top: 40px;
    margin-bottom: 20px;
    color: #1c00a2;
    /* color: #4b29ee; */
}

.cont-ambas-cards{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

