.tus-estudiantes {
    display: flex;
}

/* ---------cards proximas clases------------ */

.cards-e {
    margin-right: 160px;
    width: 400px;
    height: max-content;
}

.cards-e a{
    text-decoration: none;
    color: #217f21;

}

.card-n-e{
    margin: 0px 0px 30px;
    padding: 0px;
    display: flex;
    flex-flow: row;
    align-items: center;
    background-color: rgb(225, 255, 225);
    border-radius: 10px;
    box-shadow: 1px 8px 14px -7px rgba(0,0,0,0.38);
    -webkit-box-shadow: 1px 8px 14px -7px rgba(0,0,0,0.38);
    -moz-box-shadow: 1px 8px 14px -7px rgba(0,0,0,0.38);
}

.card-n-e:hover{
    transform: translateY(-1.5px) translateX(1.5px);
}

.card-borde-l{
    width: 7px;
    height: 63px;
    background-color: #217f21;
    border-radius: 6px 0 0 6px;

}

.card-central-e{
    margin-left: 10px;
    display: flex;
    flex-flow: column;
}

.card-nombreEstud-e {
    font-size: larger;
    font-weight: bold;
    padding-top: 8px;
}

.card-coment-e{
    font-size: small;
    padding-bottom: 8px;
}

.card-count {
    margin-left: 57px;
    font-weight: bolder;
    margin-right: 0px;
}


/* --------------contenedor deslizante------------- */

.cont-desliz-e{
    display: flex;
    flex-flow: row;
}

.desliz-e{
    padding: 20px 20px 10px;
    width: 400px;
    border-radius: 10px;
    background-color: rgb(225, 255, 225);
    color: #217f21;

    justify-content: right;
    box-shadow: 1px 8px 14px -7px rgba(0,0,0,0.38);
    -webkit-box-shadow: 1px 8px 14px -7px rgba(0,0,0,0.38);
    -moz-box-shadow: 1px 8px 14px -7px rgba(0,0,0,0.38);
}

.cruz-e {
    margin-top: 20px;
}

.cruz-e a:hover {
    background-color: lightslategrey;
    color: rgb(225, 255, 225);
}

.cruz-e a {
    text-decoration: none;
    color: #217f21;
    font-size: larger;
    font-weight: bolder;
    text-align: right;
    background-color: #f2a847;
    border-radius: 0px 10px 10px 0px;
    padding: 5px;
}

.desliz-titulo {
    font-size: x-large;
    font-weight: bolder;
}

.desliz-notas-e{
    margin-top: 20px;
}

.desliz-clases-btns-e{
    display: flex;
    flex-flow: column;
}

.cant-clases{
    margin-bottom: 10px;
}
.desliz-clase {
    padding: 8px;
    height: max-content;
    border-radius: 10px;
    font-weight: bolder;
    background-color: rgb(179, 243, 179);
    color: #217f21;
}

.desliz-clase-renglon{
    display: flex;
    justify-content: space-between;

}

.desliz-clase-renglon span:nth-child(2){
    margin-right: 5px;
}

.renglon-pago{
    display: flex;
    align-items: center;
    flex-flow: row;
    font-size: small;
}

.pago-e{
    margin-right: 10px;
}

.pagoBD-e {
    text-align: center;
}

.coment-clase {
    margin-top: 10px;
    font-size: small;
}

.coment-clase span{
    color: #1a441a;
}

.desliz-btns-e{
    margin-bottom: 7px;
    margin-top: 5px;
    display: flex;
    justify-content: flex-end; 
}

.deliz-icono a {
    text-decoration: none;
    color: inherit;
    font-weight: bolder;
    font-size: large;
}


.fi-rr-file-delete:hover {
    color: red;
}

.deliz-icono:nth-child(1) {
    margin-right: 5px;
}