.proximas-clases {
    display: flex;
    align-items: baseline;
}

/* ---------cards proximas clases------------ */

.cards-clase {
    margin-right: 160px;
    width: 400px;
    height: max-content;

}



.cards-clase a{
    text-decoration: none;
    color: #217f21;
}

.card-n{
    margin: 0px 0px 30px;
    padding: 10px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;

    background-color: #f9ff8f;
    border-radius: 10px;
    box-shadow: 1px 8px 14px -7px rgba(0,0,0,0.38);
    -webkit-box-shadow: 1px 8px 14px -7px rgba(0,0,0,0.38);
    -moz-box-shadow: 1px 8px 14px -7px rgba(0,0,0,0.38);
}

.card-n:hover{
    transform: translateY(-1.5px) translateX(1.5px);
}

.cards-cont-izq {
    display: flex;
    flex-flow: inherit;
}


.card-inicial{
    background-color: #eaf227;
    border-radius: 6px;
    padding: 1px 12px;;
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
}

.card-central{
    margin-left: 10px;
    display: flex;
    flex-flow: column;
}

.card-nombreEstud {
    font-size: larger;
    font-weight: bold;
}

.card-info{
    font-size: small;
}

.card-fecha {
    margin-left: 57px;
    font-weight: bolder;
    font-size: x-large;
    margin-right: 0px;
}


/* --------------contenedor deslizante------------- */

.cont-desliz{
    display: flex;
    flex-flow: row;
}

.desliz{
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    background-color: #f9ff8f;
    color: #217f21;

    box-shadow: 1px 8px 14px -7px rgba(0,0,0,0.38);
    -webkit-box-shadow: 1px 8px 14px -7px rgba(0,0,0,0.38);
    -moz-box-shadow: 1px 8px 14px -7px rgba(0,0,0,0.38);
}

.desliz-info div {
    margin-bottom: 5px;

}

.cruz {
    margin-top: 20px;

}

.cruz a:hover {
    background-color: lightslategrey;
    color: #eaf227;
    /* color: rgb(179, 243, 179); */

}

.cruz a {
    text-decoration: none;
    color: #217f21;
    font-size: larger;
    font-weight: bolder;
    text-align: right;
    background-color: #f2a847;
    border-radius: 0px 10px 10px 0px;
    padding: 5px;
}

.desliz-titulo {
    font-size: x-large;
    font-weight: bolder;
}

.desliz-notas{
    margin-top: 20px;
}
.desliz-coment {
    padding: 8px;
    min-height: 90px;
    height: max-content;
    border-radius: 10px;
    /* background-color: #217f21;
    color: rgb(179, 243, 179); */

    background-color: #eaf227;
}

.ultimo-renglon{
    margin-top: 20px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.pagoBD span:nth-child(1){
    margin-right: 11px;
}

.pagoBD span:nth-child(2) {
    padding: 1px 5px;
    width: 31px;
    text-align: center;
    height: 30px;
    border-radius: 10px;
    background-color: #eaf227;
    display: inline-block;
}

.desliz-btns{
    display: flex;
    justify-content: end; 
}