* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

main section{
    padding: 50px 12% 0 12%;
    display: flex;
    flex-flow: column;
}

.titulo{
    margin-bottom: 25px;
    margin-right: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    color: #217f21;

}

/* ----------------- cosas nuevas -------------------------- */

.cont-desliz-e{
    display: flex;
    flex-flow: row;
}

.desliz-titulo {
    margin-bottom: 10px;
    font-size: x-large;
    font-weight: bolder;
}

.desliz-titulo span {
    margin-left: 20px;
    margin-right: 20px;
}

.desliz-titulo a {
    text-decoration: none;
    color: #217f21;
}

.desliz-titulo a:hover {
    color: #00ff40;
}

#btn-borrar:hover {
    color: red;
}

.info-contacto div, .cant-clases {
    font-weight: bolder;
}

.info-contacto div:nth-child(3) {
    margin-top: 7px;
}


.desliz-e{
    margin-bottom: 50px;
    padding: 20px 20px 10px;
    border-radius: 10px;
    background-color: rgb(225, 255, 225);
    color: #217f21;

    justify-content: right;
    box-shadow: 1px 8px 14px -7px rgba(0,0,0,0.38);
    -webkit-box-shadow: 1px 8px 14px -7px rgba(0,0,0,0.38);
    -moz-box-shadow: 1px 8px 14px -7px rgba(0,0,0,0.38);
}

.cruz-e {
    margin-top: 20px;
}

.cruz-e a:hover {
    background-color: lightslategrey;
    color: rgb(225, 255, 225);
}

.cruz-e a {
    text-decoration: none;
    color: #217f21;
    font-size: larger;
    font-weight: bolder;
    text-align: right;
    background-color: #f2a847;
    border-radius: 0px 10px 10px 0px;
    padding: 5px;
}

.desliz-notas-e{
    display: flex;
    flex-wrap: wrap;
}

.desliz-clases-btns-e{
    margin-right: 10px;
    width: 23%;
    display: flex;
    flex-flow: column;
}

.cant-clases{
    margin-top: 20px;
    margin-bottom: 3px;
}
.desliz-clase {
    padding: 8px;
    min-height: fit-content;
    height: 85%;
    border-radius: 10px;
    font-weight: bolder;
    background-color: rgb(179, 243, 179);
    color: #217f21;
}

.desliz-clase-renglon{
    display: flex;
    justify-content: space-between;

}

.desliz-clase-renglon span:nth-child(2){
    margin-right: 5px;
}

.renglon-pago{
    display: flex;
    align-items: center;
    flex-flow: row;
    font-size: small;
}

.pago-e{
    margin-right: 10px;
}

.pagoBD-e {
    text-align: center;
}

.coment-clase {
    margin-top: 10px;
    font-size: small;
}

.coment-clase span{
    color: #1a441a;
}

.desliz-btns-e{
    margin-bottom: 7px;
    margin-top: 5px;
    display: flex;
    justify-content: flex-end; 
}

.deliz-icono a {
    text-decoration: none;
    color: inherit;
    font-weight: bolder;
    font-size: large;
}


.fi-rr-file-delete:hover {
    color: red;
}

.deliz-icono:nth-child(1) {
    margin-right: 5px;
}
























/* ------------------ Tabla vieja ------------------ */

table {
    table-layout: fixed;
    border-collapse: collapse;
    margin-bottom: 25px;
}

.nom-caterg {
    text-align: left;
    color: #f9ff7d;
    background-color: rgb(54, 54, 54);
    padding: 10px 20px;
}

.dato {
    padding: 10px 20px;
}

tr {
    background-color: #f9ff7d;
    border-bottom: #217f21 solid 1px;
}

/* td:nth-child(2) {
    background-color: blue;
} */

.icono {
    text-align: center;

}

#borde {
    border-left: #217f21 solid 1px;
}

#editar, #borrar {
    margin: 0 10px;
    color: #217f21;
    text-decoration: none;

}

.fi-rr-edit:hover, .fi-rr-user-remove:hover {
    color: black;
    transform: translateY(-1.5px) translateX(1.5px);
}

/* #edit-valor {
    display: block;
} */




/* Estilos editor de tabla */


.contenedor{
    display: none;
    margin-right: 90px;
    padding: 30px;
    width: auto;
    border-radius: 10px;
    background-color: #217f21;
    /*background-image: url(fondo-pastel.jpg);*/
    background-size: 182%;
}

.caja-1, .caja-2 {
    padding: 10px;
    background-color: #d7e00d;
    border-radius: 10px;
    display: flex;
    flex-flow: row ;
    justify-content: space-between;
}

.caja-1 {
    margin-bottom: 20px;
}

.etiqueta {
    color: rgb(98, 47, 69);
    font-size: larger;
    font-weight: bold;
    margin-bottom: 5px;
}

.caja-input {
    display: flex;
    flex-flow: column;
}

.caja-submit{
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
}

input {
    margin-left: 20px;
    height: 60px;
    padding: 7px;
    border-radius: 7px;
    border-style: none;
}

/* input:invalid {
    border: 2px dashed red;
}

input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
} */

.submit {
    width: 150px;
    height: 40px;
    background-color: rgb(98, 47, 69);
    color: blanchedalmond;
}

.submit:hover {
    transform: translateY(1.5px) translateX(1.5px);

}

