.contenedor-cards {
    display: flex;
    justify-content: left;
}

.nom-caterg {
    margin: 10px 10px;
}

.nomEstud, .temaClase{
    padding: 12px 17px;
    margin-right: 25px;
    width: 170px;
    height: 100px;
    color: #217f21;
    background-color: #d7e00d;
    border: #217f21 solid 1.5px;
    border-radius: 12px;
    font-weight: bolder;  
}

#temaClase {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.fecha {
    font-size: smaller;
}

.nomEstud:hover, .temaClase:hover {
    transform: translateY(-1.5px) translateX(1.5px);
    box-shadow: -8px 9px 9px -6px rgba(0,0,0,0.44);
    -webkit-box-shadow: -8px 9px 9px -6px rgba(0,0,0,0.44);
    -moz-box-shadow: -8px 9px 9px -6px rgba(0,0,0,0.44);
}

.a-card {
    color: black;
    text-decoration: none;
}

#cardsEstud {
    display: block;
}

#cardsClases {
    display: none;
}